<div class="addWMS win-body">
    <input type="text" class="form-control wmsUrlsChanged" id="wmsUrl" placeholder="<%= placeholder %>" aria-describedby="basic-addon1">
    <div class="WMS_example_text"><%= textExample %></div>
    <button id="addWMSButton" style="width: 50%;" type="button" class="btn btn-primary">
        <span class="" aria-hidden="true"><%= textLoadLayer %></span>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </button>
</div>
