<!DOCTYPE html>
<form class="form-horizontal" role="form">
    <div class="form-group form-group-sm">
        <label for="layoutField" class="col-md-5 col-sm-5 control-label"><%= geometry %></label>
        <div class="dropdown_geometry"></div>
    </div>
    <div class="form-group form-group-sm">
        <label for="unitField" class="col-md-5 col-sm-5 control-label"><%= measure %></label>
        <div class="dropdown_unit"></div>
    </div>
    <% if (style === "DEFAULT") { %>
    <div class="form-group form-group-sm">
        <div class="col-md-12 col-sm-12">
            <%= plzConsider %>: <br>
            <%= valuesNotExact %>.<br>
            <% if(quickHelp === true){ %>
            <%= findFurtherInf %>:
            <span class="glyphicon glyphicon-question-sign"></span>
            <% } %>
        </div>
    </div>
    <% } %>
    <div class="form-group form-group-sm">
        <div class="col-md-12 col-sm-12">
            <button type="button" class="btn btn-lgv-grey col-md-12 col-sm-12 measure-delete"><%= deleteMeasurements %></button>
        </div>
    </div>
</form>