<!DOCTYPE html>
<div class="overviewmap-button">
    <span class="glyphicon glyphicon-globe" title="<% if(isInitOpen === true) {print (hideOverviewControlText);} else {print (showOverviewControlText);} %>"></span>
</div>
