
.no-cursor {
	cursor: none;
}
.cursor-crosshair {
	cursor: crosshair;
}
#rotated-glyphicon {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
