<!DOCTYPE html>
<select class="form-control input-sm interaction">
    <% drawTypeOptions.forEach(function (option) { %>
        <option value="<%= option.value %>" id="<%= option.id %>"><%= option.caption %></option>
    <% }); %>
</select>
<hr>
<form class="form-horizontal" role="form">
    <div class="form-group form-group-sm dropdownMethod">
        <label class="col-md-5 col-sm-5 control-label"><%=method%></label>
        <div class="col-md-7 col-sm-7">
            <select class="form-control input-sm input-method">
                <option value="interactiv"><%=interactive%></option>
                <option value="defined"><%=defined%></option>
            </select>
        </div>
    </div>
    <div class="form-group form-group-sm circleRadiusInner">
        <label class="col-md-5 col-sm-5 control-label"><%=diameter%></label>
        <div class="col-md-7 col-sm-7">
            <input type="number" class="form-control" placeholder="<%=doubleCirclePlaceholder%>" disabled=true/>
        </div>
    </div>
    <div class="form-group form-group-sm circleRadiusOuter">
        <label class="col-md-5 col-sm-5 control-label"><%=outerDiameter%></label>
        <div class="col-md-7 col-sm-7">
            <input type="number" class="form-control" placeholder="<%=doubleCirclePlaceholder%>">
        </div>
    </div>
    <div class="form-group form-group-sm dropdownUnit">
        <label class="col-md-5 col-sm-5 control-label"><%=unit%></label>
        <div class="col-md-7 col-sm-7">
            <select class="form-control input-sm" disabled=true>
                <option value="m">m</option>
                <option value="km">km</option>
            </select>
        </div>
    </div>
    <div class="form-group form-group-sm text">
        <label class="col-md-5 col-sm-5 control-label"><%=textI18n%></label>
        <div class="col-md-7 col-sm-7">
            <input type="text" placeholder="<%=clickToPlaceText%>" class="form-control">
        </div>
    </div>
    <div class="form-group form-group-sm font-size">
        <label class="col-md-5 col-sm-5 control-label"><%=fontSizeText%></label>
        <div class="col-md-7 col-sm-7">
            <select class="form-control input-sm">
                <% fontSizeOptions.forEach(function (option) { %>
                    <option value="<%= option.value %>"><%= option.caption %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group form-group-sm font">
        <label class="col-md-5 col-sm-5 control-label"><%=fontName%></label>
        <div class="col-md-7 col-sm-7">
            <select class="form-control input-sm">
                <% fontOptions.forEach(function (option) { %>
                    <option value="<%= option.value %>"><%= option.caption %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group form-group-sm symbol">
        <label class="col-md-5 col-sm-5 control-label">Symbol</label>
        <div class="col-md-7 col-sm-7">
            <select class="form-control input-sm">
                <% iconList.forEach(function (icon) {
                    let iconVal = icon.value + '@@' + icon.type%>
                    <option value="<%= iconVal %>"><%= icon.caption %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group form-group-sm pointSize">
        <label class="col-md-5 col-sm-5 control-label">Größe</label>
        <div class="col-md-7 col-sm-7">
            <select class="form-control input-sm">
                <% pointSizeOptions.forEach(function (option) { %>
                    <option value="<%= option.value %>"><%= option.caption %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group form-group-sm radius">
        <label class="col-md-5 col-sm-5 control-label"><%=size%></label>
        <div class="col-md-7 col-sm-7">
            <select class="form-control input-sm">
                <% pointSizeOptions.forEach(function (option) { %>
                    <option value="<%= option.value %>"><%= option.caption %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group form-group-sm stroke-width">
        <label class="col-md-5 col-sm-5 control-label"><%=lineWidth%></label>
        <div class="col-md-7 col-sm-7">
            <select class="form-control input-sm">
                <% strokeOptions.forEach(function (option) { %>
                    <option value="<%= option.value %>"><%= option.caption %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group form-group-sm opacity">
        <label class="col-md-5 col-sm-5 control-label"><%=transparency%></label>
        <div class="col-md-7 col-sm-7">
            <select class="form-control input-sm">
                <% transparencyOptions.forEach(function (option) { %>
                    <option value="<%= option.value %>"><%= option.caption %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group form-group-sm opacityContour">
        <label class="col-md-5 col-sm-5 control-label"><%=transparencyOutline%></label>
        <div class="col-md-7 col-sm-7">
            <select class="form-control input-sm">
                <% transparencyOptions.slice(0, transparencyOptions.length - 1).forEach(function (option) { %>
                    <option value="<%= option.value %>"><%= option.caption %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group form-group-sm colorContour">
        <label class="col-md-5 col-sm-5 control-label"><%=outlineColor%></label>
        <div class="col-md-7 col-sm-7">
            <select class="form-control input-sm colorContour">
                <option value="<%= colorOptions[1].value %>"><%= colorOptions[1].caption %></option>
                <option value="<%= colorOptions[0].value %>"><%= colorOptions[0].caption %></option>
                <% colorOptions.slice(2).forEach(function (option) { %>
                    <option value="<%= option.value %>"><%= option.caption %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-horizontal" role="form">
        <div class="form-group form-group-sm color">
            <label class="col-md-5 col-sm-5 control-label"><%=colorText%></label>
            <div class="col-md-7 col-sm-7">
                <select class="form-control input-sm colorFill">
                    <% colorOptions.forEach(function (option) { %>
                        <option value="<%= option.value %>"><%= option.caption %></option>
                    <% }); %>
                </select>
            </div>
        </div>
    </div>
</form>
<hr>
<div class="form-horizontal" role="form">
    <div class="form-group form-group-sm">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-sm btn-block btn-primary draw">
                <span class="glyphicon glyphicon-pencil"></span>
                <%=drawBtnText%>
            </button>
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-lgv-grey btn-sm btn-block undo">
                <span class="glyphicon glyphicon-repeat" id="rotated-glyphicon"></span>
                <%=undoBtnText%>
            </button>
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-lgv-grey btn-sm btn-block redo">
                <span class="glyphicon glyphicon-repeat"></span>
                <%=redoBtnText%>
            </button>
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-lgv-grey btn-sm btn-block modify">
                <span class="glyphicon glyphicon-wrench"></span>
                <%=editBtnText%>
            </button>
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-lgv-grey btn-sm btn-block downloadDrawing">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                <%=downloadBtnText%>
            </button>
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-lgv-grey btn-sm btn-block trash">
                <span class="glyphicon glyphicon-trash"></span>
                <%=deleteBtnText%>
            </button>
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-lgv-grey btn-sm btn-block delete">
                <span class="glyphicon glyphicon-trash"></span>
                <%=deleteAllBtnText%>
            </button>
        </div>
    </div>
</div>
