<!DOCTYPE html>
<% if (logo && logo.trim() !== "") { %>
    <a href="<%= link %> " target="_blank" data-toggle="tooltip" data-placement="bottom" title="<%= toolTip %>">
        <img src="<%= logo %>">
    </a>
<% } %>
<span>
    <%= title %>
</span>
