<div class="contact">
    <% if (contactInfo.length > 0){%>
    <div id="contactInfoDiv" class="form-group ">
        <%=contactInfo %>
    </div>
    <%}%>
    <div id="contactNameDiv" class="form-group has-feedback">
        <div class="input-group">
            <span class="contactInputGroup input-group-addon">Name</span>
            <input type="text" class="form-control" id="contactName" aria-describedby="contactNameStatus" placeholder="<%= userNamePlaceholder %>" value="<%= userName %>">
        </div>
        <span id="contactNameFeedback" class="contactHide glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span id="contactNameStatus" class="sr-only">(success)</span>
        <label id="contactNameLabel" class="contactHide control-label" for="contactName"><%= errorName %></label>
    </div>
    <div id="contactEmailDiv" class="form-group has-feedback">
        <div class="input-group">
            <span class="contactInputGroup input-group-addon">E-Mail</span>
            <input type="email" class="form-control" id="contactEmail" aria-describedby="contactEmailStatus" placeholder="<%= emailAddressPlaceholder %>" value="<%= userEmail %>">
        </div>
        <span id="contactEmailFeedback" class="contactHide glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span id="contactEmailStatus" class="sr-only">(success)</span>
        <label id="contactEmailLabel" class="contactHide control-label" for="contactName"><%= errorEmail %></label>
    </div>
    <div id="contactTelDiv" class="form-group has-feedback">
        <div class="input-group">
            <span class="contactInputGroup input-group-addon">Tel.</span>
            <input type="tel" class="form-control" id="contactTel" aria-describedby="contactTelStatus" placeholder="<%= telephonePlaceholder %>" value="<%= userTel %>">
        </div>
        <span id="contactTelFeedback" class="contactHide glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span id="contactTelStatus" class="sr-only">(success)</span>
        <label id="contactTelLabel" class="contactHide control-label" for="contactName"><%= errorNumber %></label>
    </div>
    <div id="textDiv" class="form-group has-feedback">
        <textarea class="contactResizeNone form-control" id="contactText" rows="<%= maxLines %>" maxlength="2000" placeholder="<%= textPlaceholder %>" aria-describedby="contactTextStatus"><%= text %></textarea>
        <span id="contactTextFeedback" class="contactHide glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span id="contactTextStatus" class="sr-only">(success)</span>
    </div>
    <button type="button" class="contactButton btn btn-default" title="Eingaben jetzt abschicken." disabled="disabled">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%= textSendButton %>
    </button>
</div>
