<!DOCTYPE html>
<div>
    <div class="header">
        <div>
            ID: <span id="title"><%= title %></span><br>
            Art: <span id="type"><%= type %></span><br>
            Verkehrsmittel: <span id="meansOfTransport"><%= meansOfTransport %></span>
        </div>
    </div>
    <ul class="nav nav-pills">
        <li value= "infos" class="tab-toggle active">
            <a data-toggle="tab" href="#infos">Info</a>
        </li>
        <li value= "day" class="tab-toggle">
            <a data-toggle="tab" href="#day">Tag</a>
        </li>
        <li value= "week" class="tab-toggle">
            <a data-toggle="tab" href="#week">Woche</a>
        </li>
        <li value= "year" class="tab-toggle">
            <a data-toggle="tab" href="#year">Jahr</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="infos" class="infos tab-pane fade in active">
            <div class="padded">
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr colspan = "3">
                            <td class="bold">&nbsp;</td>
                            <td class="bold">Zeitraum</td>
                            <td class="bold">Anzahl</td>
                        </tr>
                        <tr colspan = "3">
                            <td class="bold">insgesamt seit</td>
                            <td id="totalDesc" class="text-right"><%= totalDesc %></td>
                            <td id="totalValue" class="text-right"><%= totalValue %></td>
                        </tr>
                        <tr colspan = "3">
                            <td class="bold">seit Jahresbeginn</td>
                            <td id="thisYearDesc" class="text-right"><%= thisYearDesc %></td>
                            <td id="thisYearValue" class="text-right"><%= thisYearValue %></td>
                        </tr>
                        <tr colspan = "3">
                            <td class="bold">im Vorjahr</td>
                            <td id="lastYearDesc" class="text-right"><%= lastYearDesc %></td>
                            <td id="lastYearValue" class="text-right"><%= lastYearValue %></td>
                        </tr>
                        <tr colspan = "3">
                            <td class="bold">am Vortag</td>
                            <td id="lastDayDesc" class="text-right"><%= lastDayDesc %></td>
                            <td id="lastDayValue" class="text-right"><%= lastDayValue %></td>
                        </tr>
                        <tr colspan = "3">
                            <td class="bold">Stärkster Tag im Jahr</td>
                            <td id="highestWorkloadDayDesc" class="text-right"><%= highestWorkloadDayDesc %></td>
                            <td id="highestWorkloadDayValue" class="text-right"><%= highestWorkloadDayValue %></td>
                        </tr>
                        <tr colspan = "3">
                            <td class="bold">Stärkste Woche im Jahr</td>
                            <td id="highestWorkloadWeekDesc" class="text-right"><%= highestWorkloadWeekDesc %></td>
                            <td id="highestWorkloadWeekValue" class="text-right"><%= highestWorkloadWeekValue %></td>
                        </tr>
                        <tr colspan = "3">
                            <td class="bold">Stärkster Monat im Jahr</td>
                            <td id="highestWorkloadMonthDesc" class="text-right"><%= highestWorkloadMonthDesc %></td>
                            <td id="highestWorkloadMonthValue" class="text-right"><%= highestWorkloadMonthValue %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="day" class="graph tab-pane fade">
            <div id="dayDateSelector" class="dateSelector">
                <div class="input-group">
                    <input id="dayDateInput" type="text" class="form-control dpinput" placeholder="Datum">
                    <span class="input-group-btn">
                        <button id="dayDateInputButton" class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="tab-pane form-check">
                <input type="checkbox" class="form-check-input" id="diagramCheck-day" checked>
                <label class="form-check-label" for="diagramCheck-day">Diagramm</label>
            </div>
            <div id="diagramday" class="trafficCountDiagramDay_<%= themeId %> padded" style="position:relative;">
                <div class="graph-tooltip-div graph-tooltip-div-day_<%= themeId %>"></div>
            </div>
            <div class="tab-pane form-check">
                <input type="checkbox" class="form-check-input" id="tableCheck-day">
                <label class="form-check-label" for="tableCheck-day">Tabelle</label>
            </div>
            <div id="tableday" class="tab-pane table inactive">
                <table class="table table-striped text-align-center table-condensed table-bordered text-nowrap">
                    <tbody>
                        <tr id="dayTableContentHeader" class="contentHeader">
                        </tr>
                        <tr id="dayTableContentCars" class="contentBody">
                        </tr>
                        <tr id="dayTableContentBicycles" class="contentBody">
                        </tr>
                        <tr id="dayTableContentTrucks" class="contentBody">
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="week" class="graph tab-pane fade">
            <div id="weekDateSelector" class="dateSelector">
                <div class="input-group">
                    <input id="weekDateInput" type="text" class="form-control dpinput" placeholder="Datum">
                    <span class="input-group-btn">
                        <button id="weekDateInputButton" class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="tab-pane form-check">
                <input type="checkbox" class="form-check-input" id="diagramCheck-week" checked>
                <label class="form-check-label" for="diagramCheck-week">Diagramm</label>
            </div>
            <div id="diagramweek" class="trafficCountDiagramWeek_<%= themeId %> padded" style="position:relative;">
                <div class="graph-tooltip-div graph-tooltip-div-week_<%= themeId %>"></div>
            </div>
            <div class="tab-pane form-check">
                <input type="checkbox" class="form-check-input" id="tableCheck-week">
                <label class="form-check-label" for="tableCheck-week">Tabelle</label>
            </div>
            <div id="tableweek" class="tab-pane table inactive">
                <table class="table table-striped text-align-center table-condensed table-bordered text-nowrap">
                    <tbody>
                        <tr id="weekTableContentHeader" class="contentHeader">
                        </tr>
                        <tr id="weekTableContentCars" class="contentBody">
                        </tr>
                        <tr id="weekTableContentBicycles" class="contentBody">
                        </tr>
                        <tr id="weekTableContentTrucks" class="contentBody">
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="year" class="graph tab-pane fade">
            <div id="yearDateSelector" class="dateSelector">
                <div class="input-group">
                    <input id="yearDateInput" type="text" class="form-control dpinput" placeholder="Datum">
                    <span class="input-group-btn">
                        <button id="yearDateInputButton" class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="tab-pane form-check">
                <input type="checkbox" class="form-check-input" id="diagramCheck-year" checked>
                <label class="form-check-label" for="diagramCheck-year">Diagramm</label>
            </div>
            <div id="diagramyear" class="trafficCountDiagramYear_<%= themeId %> padded" style="position:relative;">
                <div class="graph-tooltip-div graph-tooltip-div-year_<%= themeId %>"></div>
            </div>
            <div class="tab-pane form-check">
                <input type="checkbox" class="form-check-input" id="tableCheck-year">
                <label class="form-check-label" for="tableCheck-year">Tabelle</label>
            </div>
            <div id="tableyear" class="tab-pane table inactive">
                <table class="table table-striped text-align-center table-condensed table-bordered text-nowrap">
                    <tbody>
                        <tr id="yearTableContentHeader" class="contentHeader">
                        </tr>
                        <tr id="yearTableContentCars" class="contentBody">
                        </tr>
                        <tr id="yearTableContentBicycles" class="contentBody">
                        </tr>
                        <tr id="yearTableContentTrucks" class="contentBody">
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-bottom infos">
            <table class="table table-striped">
                <tbody>
                    <tr colspan = "2">
                        <td class="bold">letzte Aktualisierung:</td>
                        <td class="text-right"><span id="lastUpdate"><%= lastUpdate %></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
