<!DOCTYPE html>
<% if (typeof treeType === "undefined") { %>
<div class="layer-info-item pull-right">
    <span class="glyphicon glyphicon-info-sign" title="<%=infosAndLegendText%>"></span>
</div>
<% } else { %>
<div class="layer-info-item pull-right">
    <span class="glyphicon glyphicon-cog rotate"></span>
</div>
<% } %>
<div class="layer-item">
    <% if (isSelected) { %>
        <span class="glyphicon glyphicon-check" title="<%=removeTopicText%>"></span>
    <% } else { %>
        <span class="glyphicon glyphicon-unchecked" title="<%=showTopicText%>"></span>
    <% } %>
    <span class="title" title="<%= name %>"><%= name %></span>
</div>
